@tailwind base;
@tailwind components;
@tailwind utilities;

/* Debuging */
body.debug * {
  outline: 1px solid red;
}

.xx {
  outline: 1px solid red;
}

.xx * {
  outline: 1px solid red;
}

.xr {
  outline: 1px solid red;
}

.xg {
  outline: 1px solid green;
}

.xb {
  outline: 1px solid blue;
}

/* Navbar */
.navbar__extra {
  transform: translateY(calc(-100% - 8px));
}

.navbar__extra.active {
  @apply translate-y-0 transition duration-300 ease-in-out;
}

.hamburger__line {
  @apply block h-[3px] w-full rounded-[10px] bg-slate-800 transition;
}

#hamburger-toggle.active span:nth-child(1) {
  @apply -rotate-45 transition;
}

#hamburger-toggle.active span:nth-child(2) {
  @apply opacity-0 transition;
}

#hamburger-toggle.active span:nth-child(3) {
  @apply rotate-45 transition;
}

/* Hero */
#hero-section {
  border-bottom-left-radius: 80% 10%;
  border-bottom-right-radius: 80% 10%;
}

.hero-image {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.scroller__inner[data-animation="true"] {
  animation: scroller 5s linear infinite;
  -webkit-animation: scroller 7s linear infinite;
  column-gap: 32px;
}

.scroller__inner,
.scroller__inner[data-animation="false"] {
  column-gap: 32px;
}

/* News */
#news {
  margin-top: calc(6rem + (167px / 2));
}

.news__wrapper .news__category {
  transition: 200ms;
}

.news__wrapper .news__category:hover {
  transition: 200ms;
  background-color: #f0a62f;
}

@media screen and (width >= 839px) {
  .scroller {
    max-width: 839px;
  }
}

@media screen and (min-width: 1024px) {
  #hero-section {
    min-height: 95dvh;
    border-bottom-left-radius: 1500px 150px;
    border-bottom-right-radius: 1500px 150px;
    overflow: hidden;
  }
}

@keyframes scroller {
  to {
    transform: translateX(calc(-50% - 16px));
    -webkit-transform: translateX(calc(-50% - 16px));
    -moz-transform: translateX(calc(-50% - 16px));
    -ms-transform: translateX(calc(-50% - 16px));
    -o-transform: translateX(calc(-50% - 16px));
  }
}

@media screen and (min-width: 768px) {
  .news__wrapper .news__wrapper img {
    transition: 300ms;
  }

  .news__wrapper img:hover {
    filter: brightness(0.9);
    transition: 300ms;
  }

  .news__wrapper > a > div {
    height: calc(96px * 2 - 16px);
    overflow: visible;
  }

  .news__wrapper > a img {
    border-radius: 8px;
    object-fit: cover;
  }

  .news__wrapper > a span {
    left: 0;
    right: unset;
    bottom: calc(-24px + -16px);
  }

  .news__wrapper > a h3 {
    margin-top: 32px;
  }
}
